.main {
    background: $blue;
    min-height: 680px;
    color: white;
    padding-top: 90px;

    @media (max-width: 767px) {
        padding: 80px 0;
        text-align: center;
    }

    .main-content {
        padding: 80px 0 0 0;
        max-width: 600px;
        position: relative;
        z-index: 1;

        @media (max-width: 1200px) {
            margin: auto;
        }

        &__above-title {
            color: $red;
            @include monssb;
            font-size: 16px;
            
        }

        &__title {
            margin: 40px 0 45px 0;

            h1{
                @include monsb;
                font-size: 52px;
                
            }
            
        }

        &__subtitle {
            margin-bottom: 35px;

            span {
                
                @include monsb;
                font-size: 24px;
            }
        }

        &__list {
            margin-bottom: 60px;
            ul {
                list-style: none;
                padding: 0;

                li {
                    margin: 0 0 15px 0;

                    &:before {
                        content: url("../img/Check.png");
                        display: inline-table;
                        vertical-align: middle;
                        margin-right: 20px;
                    }
                }
            }
        }

        &__sublist {
            @include latoreg;
            font-size: 16px;
            margin-bottom: 40px;
        }

        &__button {

            a {
                text-decoration: none;
                background: $red;
                padding: 16px 62px;
                box-shadow: 0 0px 5px rgba(black, 0.5);
                color: white;
                @include monssb;
                font-size: 16px;
                border-radius: 26px;
                transition: all 0.5s;

                &:hover {
                    color: $blue;
                    background: white;
                    
                }
            }

            
        }
    }
    

    .main-image {
        // margin: -90px -370px 0 0;
        // float: right;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;

        @media (max-width: 1200px) {
            display: none;
        }

        
    }
}